@model BusinessLogic.DTOs.Tag.TagDTO

<link rel="stylesheet" href="~/css/assets/Tag.css" asp-append-version="true" />

<div class="tag-card" style="color: @Model.ColorHash; border: 2px solid @Model.ColorHash;">
    #@Model.Title
</div>
