.task-card {
    width: 100%;
    border-radius: 20px;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main {
    background-color: var(--div-color);
    border-radius: 20px;
    padding: 15px;
    min-height: 150px;
}

.title {
    margin: 0;
}

.desc {
    color: var(--second-text-color);
    word-wrap: break-word;
    margin-top: 10px;
}

.date {
    color: var(--text-color);
    font-size: 18px;
    margin: 15px;
    margin-left: auto;
}

.up-row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.task-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.task-card:active {
    transform: scale(0.98);
    transition: transform 0.1s ease-in;
}
